/* styles specific for different size screens */

/* Large desktop */
@media (min-width: 1200px) {
  #main_header{
    background: #000 url(/static/img/ucl-mask-2-elong.png) bottom right no-repeat;
    height: 117px;
    z-index: -200;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* max 979px and down */

@media (max-width: 1200px) {
  #main_header{
    background: #fff;
    border-bottom: 1px solid #000;
  }
}

/* general */

body {
    background: #ffffff;
    background-image: none;
    font-family: Gothic720BT-LightB, arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 17px;
    color: #222;
}


#main_header h1 {
  font-weight: normal;
  padding-top: 60px;
}

#main_header a,
#main_header a:visited,
#main_header a:hover {
  color: #000;
  text-decoration: none;
}

#watermark {
  position: absolute;
  top: 120px;
  right: 40px;
  opacity: 0.2;
  filter:alpha(opacity=20);
  z-index: -100;

}

.breadcrumb {
  background: transparent;
}

.breadcrumb .active a,
.breadcrumb .active a:visited {
  color: #222;
}

.breadcrumb>li+li:before {
  content:"";
}

.nav-list li.active a,
.nav-list li.active a:hover {
  background: #eee;
  color: #ea9000;
}

footer {
  margin-top: 120px;
  padding-top: 3em;
  margin-top: 1em;
  border-top: 1px solid #222;

}

a, a:visited, a:hover {
  color: #ea9000;
}

li.face_thumb {
  min-height: 369px;
}

.class-photo-item {
  margin-bottom: 2em;
}

.class-photo-item img{
  width: 100%;
}

.class-photo-content {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 3px solid #eee;
}

.badge.available {
  background: #468847;
}

.badge.lost {
  background: #ea9000;
}

/* Visualisation */

#back {
  margin-bottom: 0;
}


rect.face {
  fill: transparent;
  stroke-width: 1px;
  stroke: #999;
  stroke-opacity: 0.3;
}

.thumb rect.frame {
  stroke-width: 2px;
  stroke: #666;
  stroke:opacity: 0.3;
  fill: transparent;
}

.thumb .tag rect {
  fill: #666;
  opacity: 0.3;
}

.tag body {
  background: transparent;

}

.tag body .tag_text {
  color: #fff;
  font-size: 10px;
  line-height: 11.5px;
  background: transparent;
  opacity: 0.8;
  overflow: hidden;
}

#names {
  font-size: 11px;
}

#names .name {
  display: block;
  float: left;
  padding-right: 1em;
}

/* Name Index */

.name-index img {
  width: 100%;
}

#name_index_panels > .tab-pane > .row {
  margin-top: 1em;
}